version: '2'
services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgresUndercover17
    ports:
      - 5432:5432
    volumes:
      - ./var/lib/postgresql/data:/var/lib/postgresql/data
  phoenix:
    image: kerlak/debian-phoenix-elm
    links:
      - postgres
    environment:
      - DATABASE_HOST=postgres
    ports:
      - 4000:4000
      # - 80:80
    volumes:
      - ./:/code
    # ONline use:
    entrypoint: /bin/bash -c "set -e -x && cd /code && mkdir -p priv/repo/migrations && yes | mix local.rebar --force && yes | mix deps.get && mix ecto.create && mix ecto.migrate && yes | npm install && mix phoenix.server"
    # PRODUCTION use:
    # entrypoint: /bin/bash -c "set -e -x && cd /code && mkdir -p priv/repo/migrations && yes | mix local.rebar --force && yes | mix deps.get && yes | npm install && MIX_ENV=prod mix compile && yes | npm install -g brunch && brunch build --production && MIX_ENV=prod mix phoenix.digest && MIX_ENV=prod mix ecto.create && MIX_ENV=prod mix ecto.migrate && MIX_ENV=prod PORT=80 mix phoenix.server"
    # OFFline use:
    # entrypoint: /bin/bash -c "set -e -x && cd /code && mkdir -p priv/repo/migrations && mix phoenix.server"
