version: '2'
services:
  postgres:
    image: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
  phoenix:
    image: kerlak/debian-phoenix-elm
    links:
      - postgres
    environment:
      - DATABASE_HOST=postgres
    ports:
      - 4000:4000
    volumes:
      - ./:/code
    # entrypoint: /bin/bash -c "set -e -x && yes | apt-get update && yes | apt-get install erlang-parsetools && yes | apt-get install esl-erlang && mkdir /home/production && cp -R code/* /home/production/ && cd /home/production && mkdir -p priv/repo/migrations && yes | mix deps.clean --all && mix local.hex --force && yes | mix deps.get && yes | mix ecto.create && yes | mix ecto.migrate && npm install && mix phoenix.server"
    entrypoint: /bin/bash -c "set -e -x && cd /code && mkdir -p priv/repo/migrations && yes | mix local.rebar --force && yes | mix deps.get && mix ecto.create && mix ecto.migrate && yes | npm install && mix phoenix.server"
